@font-face {
    font-family: 'Graphik';
    src: url('../fonts/graphik.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: rgb(241, 241, 241);
}

h1, h2, a {
    font-family: Graphik;
}

body > section > div {
    margin: 0 1vw;
}

/*NAVIGATION SECTION*/
.navigation-container {
    display: flex;
    flex-direction: column;
}

.navigation-container > div:nth-child(1) {
    justify-content: space-around;
    background-color: black;
}

.navigation-container > div:nth-child(1) > div {
    width: 60%;
}

.navigation-container > div:nth-child(1) > div > input {
    width: 95%;
}


.navigation-container > div {
    display: flex;
    background-color: #141414;
    padding: 2vh 2vw;
}


.navigation-container > div:nth-child(2) > div:nth-child(1){
    flex-basis: 35%;
}

.navigation-container a {
    text-decoration: none;
    font-size: 1.15em;
    color: hsla(0, 0%, 100%, .415);
}

.navigation-container > div:nth-child(2) > a:nth-child(1) {
    color: white;
}

.navigation-container a.navigation-title { 
    font-family: Roboto;
    font-size: 2.5em;
    color: white;
}

/*FILMS SECTION*/
.films-container {
    display: flex;
}

.films-container > div {
    display: flex;
    /* flex-direction: column; */
}

.films-container > div > a {
    width: 24.23vw;
    aspect-ratio: 5/8;
}

.films-container > div:nth-child(1) > a {
    /* width: 72vw; */
}

.films-container > div > a > img {
    width: 100%;
    height: 100%;
}

/*ARTICLES SECTION*/
.articles-container {
    display: flex;
    margin-bottom: 1vh;
    align-items: center;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news > h1 {
    font-size: 3em;
    margin-bottom: 1vh;
}

.news > div {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.news > div > div {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.news > div > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 56%;
}

.news > div > div > div > h2 {
    font-size: 2.2em;
    margin: 0;
}

.news > div > div > div > p {
    margin-top: 0;
    font-family: Calibri;
}

.articles-container > .most-profitable-container {
    display: flex;
    flex-direction: column;
    width: 65vw;
}

.articles-container > .most-profitable-container > div {
    display: flex;
    flex-direction: row;
}

.articles-container > .most-profitable-container > div > div {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.articles-container > .most-profitable-container > h1 {
    font-size: 2em;
    margin-bottom: 1vh;
}

.articles-container > .most-profitable-container > div > div > img {
    width: 10vw;
    aspect-ratio: 7/10;
}

.articles-container > .most-profitable-container > div > div > h2 {
    margin-bottom: 0.6vh;
    font-size: 1em;
}

.articles-container > .most-profitable-container > div > div > p {
    font-family: Calibri;
    font-size: 0.7em;
    color: gray;
    margin-top: 0;
}

/*FOOTER SECTION*/
.footer-container {
    display: flex;
    background-color: #141414;
    margin: 0;
    padding: 2vh 1vw;
    justify-content: space-between;
}

.footer-container > div > p {
    font-family: Calibri;
    color: hsla(0, 0%, 100%, .6);
}

@media (max-width: 1000px) {
    .films-container {
        flex-direction: column;
        flex-grow: 1;
    }

    .films-container a {
        aspect-ratio: auto !important;
        width: 100% !important;
    }

    .articles-container {
        flex-direction: column;
        flex-grow: 1;
        margin-top: 2vh;
        gap: 2vh;
    }

    .articles-container > .most-profitable-container {
        width: 100%;
    }

    .articles-container > .most-profitable-container > h1 {
        text-align: center;
    }

    .articles-container > .most-profitable-container > div {
        flex-direction: column;
        gap: 4vh;
    }

    .articles-container > .most-profitable-container > div > div {
        width: 100%;
        align-items: center;
    }

    .articles-container > .most-profitable-container > div > div > p {
        padding: 0vh 10vw;
    }

    .articles-container > .most-profitable-container > div > div > img {
        width: 50%;
    }

    .articles-container > .news {
        width: 100%;
    }

    .articles-container > .news > h1 {
        text-align: center;
    }

    .articles-container > .news > div {
        padding: 0 20vw;
    }
    
    .articles-container > .news > div > div {
        justify-content: space-between;
    }
}