block variables
    - var title = 'Кинопоиск'

doctype html
html(lang="ru")
    head
        title #{title}
        link(rel="stylesheet", href="css/main.css")
    body
        section 
            div.navigation-container
                div
                    div 
                        input(type="text")
                        span 🔍

                div
                    div
                        a.navigation-title(href="index.html") КИНОПОИСК

                    div
                        a(href="list.html") Мои просмотренные
                        a(href="#") Фильмы
                        a(href="#") Сериалы
        
        section 
            div.films-container
                div
                    a(href="film.html")
                        img(src="public/images/posters/dune_poster.png", alt="") 
                    a(href="#")
                        img(src="public/images/posters/burning_poster.png", alt="") 
                    a(href="#")
                        img(src="public/images/posters/volkonogov_poster.png", alt="") 
                    a(href="#")
                        img(src="public/images/posters/chaser_poster.png", alt="") 

        section
            div.news
                h1 Главное сегодня

                div
                    div
                        div
                            h2 Вышла первая часть финального сезона «Короны». Какой она получилась?
                            p Сериалы
                        div
                            img(src="public/images/news/news_image1.png", alt="")

                    div
                        div
                            h2 «Монарх: Наследие монстров». Сериал-скрепа монстр-вселенной
                            p В фокусе
                        div
                            img(src="public/images/news/news_image2.png", alt="")
                    
                    div
                        div
                            h2 «Скотт Пилигрим жмет на газ»: смелое переосмысление культового комикса
                            p В фокусе
                        div
                            img(src="public/images/news/news_image3.png", alt="")

        section 
            div.footer-container
                div
                    p © Карпачев И.А., Б9121-09.03.04 (6 подгруппа), 2023-2024

                div 
                    p ✉ karpachev.ia@dvfu.ru